{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block header %}
    <h1>{{ header }}</h1>
{% endblock header %}

{% block main %}
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
        <a href="{% url 'product_list' %}"><button>{{ product_list }}</button></a>
        <a href="{% url 'logout_user' %}"><button>{{ button_logout }}</button></a>
    {% else %}
        <a href="{% url 'login_user' %}"><button>{{ button_login }}</button></a>
        <a href="{% url 'register_user' %}"><button>{{ button_register }}</button></a>
    {% endif %}
{% endblock main %}

{% block footer %}<p></p>{% endblock footer %}

