{% extends 'base.html' %}

{% block title %}Authorithation{% endblock title %}

{% block style %}
    <style>
        header {
            background-color: black;
            color: white;
            padding: 2%;
        }
        header a {
            text-decoration: none;
            color: white;
        }
        body {
            text-align: center;
        }
        button {
            margin: 1%;
        }
        nav {
            display: flex;
            align-items: center;
        }
        a {
            flex: 1;
            margin: 1%;
        }
        li {
            list-style-type: none;
        }
        footer {
            background-color: black;
            color: white;
            padding: 2%;
            position: absolute;
            bottom: 0;
            display: flex;
            width: 100%;
        }
    </style>
{% endblock style %}

{% block main %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <a><button type="submit">Login</button></a>
    </form>
        <a href="{% url 'register_user' %}"><button>Register</button></a>
    {% if form.errors %}
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock main %}

