{% extends 'base.html' %}

{% block title %}Authorithation{% endblock title %}

{% block header %}
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <a><button type="submit">Login</button></a>
    </form>
        <a href="{% url 'home' %}"><button>Exit</button></a>
    {% if form.errors %}
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock header %}

{% block nav %}
<p></p>
{% endblock nav %}

{% block footer %}<p></p>{% endblock footer %}