{% extends 'base.html' %}

{% block title %}Authorithation{% endblock title %}

{% block main %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <a><button type="submit">Login</button></a>
    </form>
        <a href="{% url 'register_user' %}"><button>Register</button></a>
    {% if form.errors %}
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock main %}

