{% extends 'base.html' %}

{% load custom_tags %}

{% block title %}Products{% endblock title %}

{% block main %}
    <ul class="products">
        {% for product in products %}
        <li class="product">
            <a class="products_detail" href="{% url 'product_detail' product.pk %}">{{ product.name }}</a>
            <p></p>
        </li>
        {% endfor %}
    </ul>
    {% if user|department_access:"IT,Sales,Marketing"  %}
    <a class="create_product" href="{% url 'product_create' %}"><button>Create new product</button></a>
    {% endif %}
{% endblock main %}
