{% extends 'base.html' %}

{% block title %}Продукція{% endblock title %}

{% block header %}<h1>Продукція компанії</h1>{% endblock header %}

{% block main %}
    {% if in_allowed_groups %}
    <a href="{% url 'product_create' %}"><button>Створити продукт</button></a>
    <ul>
        {% for product in object_list %}
        <li>
            <a href="{% url 'product_detail' product.pk %}"><button>{{ product.name }}</button></a>
            <a href="{% url 'product_update' product.pk %}"><button>Оновити продукт</button></a>
            <a href="{% url 'product_delete' product.pk %}"><button>Видалити продукт</button></a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>У вас немає доступу!</p>
    {% endif %}
    <a href="{% url 'home' %}"><button>Назад</button></a>
{% endblock main %}

{% block footer %}<p></p>{% endblock footer %}