{% extends 'base.html' %}

{% block title %}Products{% endblock title %}

{% block main %}
    {% if request.user.is_authenticated %}
        {% if request.user.groups.exists %}
            <ul>
            {% for product in products %}
                <li>
                    <a href="{% url 'product_detail' product.pk %}"><button>{{ product.name }}</button></a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>You don't have access!</p>
        {% endif %}
    {% else %}
        <p>You are not authorized!</p>
        <a href="{% url 'home' %}"><button>Back</button></a>
    {% endif %}
{% endblock main %}

{% block footer %}<p></p>{% endblock footer %}