{% extends 'base.html' %}

{% block title %}Продукція{% endblock title %}

{% block header %}<h1>Продукція компанії</h1>{% endblock header %}

{% block main %}
    <h1>{{ product.name }}</h1>
    <p>{{ product.info }}</p>
    <p>Ціна: {{ product.price }}</p>
    <p>Дата створення: {{ product.creation_date }}</p>
    <a href="{% url 'product_update' product.pk %}"><button>Редагувати</button></a>
    <a href="{% url 'product_delete' product.pk %}"><button>Видалити</button></a>
    <a href="{% url 'product_list' %}"><button>Назад до списку</button></a>
{% endblock main %}

{% block footer %}<p></p>{% endblock footer %}